@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "poppins", sans-serif;
}

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}

* {
  margin: 0;
}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}

.container {
  margin: 0;
  max-width: 1280;
}
nav {
  display: flex;
  justify-content: space-between;
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  height: 72px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

.logo {
  margin-top: 200px;
  margin-left: 20px;
  height: 50px;
  width: 50px;
}

.herocontainer {
  display: flex;
  /* background-color: white; */
  align-items: center;
  height: calc(100hv-72px);
  height: 1000px;
}

.herocontainer h1 {
  font-weight: 800;
  line-height: 20;
  font-size: 50px;
}

.herocontainer p {
  font-weight: 800;
  color: #2e2e2e;
}

.herobtn {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
